<%- include('partials/guestHeader.ejs') -%>


			<!-- Intro -->
				<section id="intro" class="wrapper style1">
					<div class="title">Become a Member</div>
					<div class="container">
						<p class="style1">You don't need to be alone in your grief.</p>
						<p class="style2">
							Connect with real people <br class="mobile-hide" />who know what you are going through.
							</a>
						</p>
						<p class="style3">Share photos, poetry, thoughts, feelings and more  &ndash;  Right here where people care. </p>
                        <p>Our site uses cookies to allow real time chats to guest users and provide the best experience we can.</p>
                        <p>We require your consent before continuing.</p>
						<ul class="actions">
							<li><a href="#" id="consent" class="button style3 large"> I accept </a></li>
							<li><a href="/consent" class="button style3 large"> No, thanks </a></li>
						</ul>
					</div>
				</section>

			<!-- Main -->
				<section id="main" class="wrapper style2">
					<div class="title">The Details</div>
					<div class="container">

						<!-- Image -->
							<a href="#" class="image featured">
								<img src="images/pic01.jpg" alt="" />
							</a>

						<!-- Features -->
							<section id="features">
								<header class="style1">
									<h2>We have chat rooms centered around your loss.</h2>
									<p>Please sign up or log in to enter chat rooms.</p>
								</header>
								<div class="feature-list">
									<div class="row">
										<div class="col-6 col-12-medium">
											<section>
												<h3 class="icon solid fa-baby">I have lost a child.</h3>
												<p>Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate et magna feugiat laoreet vel velit lorem.</p>
											</section>
										</div>
										<div class="col-6 col-12-medium">
											<section>
												<h3 class="icon solid fa-users">I have lost a parent.</h3>
												<p>Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate et magna feugiat laoreet vel velit lorem.</p>
											</section>
										</div>
										<div class="col-6 col-12-medium">
											<section>
												<h3 class="icon solid fa-people-arrows">I have lost my spouse/partner.</h3>
												<p>Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate et magna feugiat laoreet vel velit lorem.</p>
											</section>
										</div>
										<div class="col-6 col-12-medium">
											<section>
												<h3 class="icon solid fa-people-carry">I have lost a sibling.</h3>
												<p>Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate et magna feugiat laoreet vel velit lorem.</p>
											</section>
										</div>
										<div class="col-6 col-12-medium">
											<section>
												<h3 class="icon solid fa-user">I have lost a loved one to suicide.</h3>
												<p>Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate et magna feugiat laoreet vel velit lorem.</p>
											</section>
										</div>
										<div class="col-6 col-12-medium">
											<section>
												<h3 class="icon solid fa-user-friends">I have lost a friend.</h3>
												<p>Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate et magna feugiat laoreet vel velit lorem.</p>
											</section>
										</div>
										<div class="col-6 col-12-medium">
											<section>
												<h3 class="icon solid fa-person-booth">I am suffering from a community tragedy.</h3>
												<p>Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate et magna feugiat laoreet vel velit lorem.</p>
											</section>
										</div>
										<div class="col-6 col-12-medium">
											<section>
												<h3 class="icon solid fa-user-injured">My grief is different.</h3>
												<p>Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate et magna feugiat laoreet vel velit lorem.</p>
											</section>
										</div>
									</div>
								</div>
								<ul class="actions special">
									<li><a href="/signup" class="button style1 large">Get Started</a></li>
									<!-- <li><a href="#" class="button style2 large">More Info</a></li> -->
								</ul>
							</section>

					</div>

                </section>
			
<!-- Footer -->
    

<section id="footer" class="wrapper">
    <div class="title">Our Sponsors</div>
    <div class="container">
        <header class="style1">
            <h2>Looking to be in touch with us?</h2>
            <p>
                We value and appreciate you.
            </p>
        </header>
        <div class="row">
            <div class="col-6 col-12-medium">

                <!-- Contact Form -->
                    <section>
                        <form method="POST" action="/feedback">
                            <div class="row gtr-50">
                                <div class="col-6 col-12-small">
                                    <input type="text" name="userName" id="contact-name" placeholder="Name" />
                                </div>
                                <div class="col-6 col-12-small">
                                    <input type="text" name="email" id="contact-email" placeholder="Email" />
                                </div>
                                <div class="col-12">
                                    <textarea type="text" name="message" id="contact-message" placeholder="Message" rows="4"></textarea>
                                </div>
                              
                                <div class="col-12">
                                    <ul class="actions">
                                        <li><input type="submit" class="style1" value="Send" /></li>
                                        <li><input type="reset" class="style2" value="Reset" /></li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </section>

            </div>
            <div class="col-6 col-12-medium">

                <!-- Contact -->
                    <section class="feature-list small">
                        <div class="row">
                            <div class="col-6 col-12-small">
                                <section>
                                    <h3 class="icon solid fa-home">Mailing Address</h3>
                                    <p>
                                        Back into Balance<br />
                                        10799 Townline Rd<br />
                                        Charlevoix, MI 49720
                                    </p>
                                </section>
                            </div>
                            <div class="col-6 col-12-small">
                                <section>
                                    <h3 class="icon solid fa-comment">Social</h3>
                                    <p>
                                        <a href="http://www.racheleckenrod.com">www.racheleckenrod.com</a><br />
                                        <a href="https://www.linkedin.com/in/rachel-eckenrod/">linkedin.com/rachel-eckenrod</a><br />
                                        <a href="https://www.facebook.com/rachel.eckenrod">facebook.com/rachel.eckenrod</a>
                                    </p>
                                </section>
                            </div>
                            <div class="col-6 col-12-small">
                                <section>
                                    <h3 class="icon solid fa-envelope">Email</h3>
                                    <p>
                                        <a href="mailto:goodgrieflive@gmail.com">goodgrieflive@gmail.com</a>
                                    </p>
                                </section>
                            </div>
                            <div class="col-6 col-12-small">
                                <section>
                                    <h3 class="icon solid fa-phone">Phone</h3>
                                    <p>
                                        (000) 555-0000
                                    </p>
                                </section>
                            </div>
                        </div>
                    </section>

            </div>
        </div>
        <div id="copyright">
            <ul>
                <li>&copy; Untitled.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
        </div>
    </div>
</section>




<!-- Scripts -->
<!-- <script src="/socket.io/socket.io.js"></script> -->
<!-- <script type="module" src="/js/shared.js"></script> -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.dropotron.min.js"></script>
<script src="/assets/js/browser.min.js"></script>
<script src="/assets/js/breakpoints.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>
<!-- <script>
    // Add an event listener to the button or link
    document.getElementById('consent').addEventListener('click', async () => {
      // Use fetch or any other method to send a request to the server to set the cookie
      const response = await fetch('/setCookie', { method: 'GET' });
  
      // Redirect to the home page after setting the cookie
      window.location.href = '/';
    });
  </script> -->

  <script>
    document.getElementById('consent').addEventListener('click', async () => {
      try {
        const response = await fetch('/consent/setCookie', { method: 'GET' });
  
        if (response.ok) {
          console.log('Consent cookie set successfully');
          // Redirect to the home page or perform other actions as needed
          window.location.href = '/';
        } else {
          console.error('Failed to set consent cookie');
        }
      } catch (error) {
        console.error('Error setting consent cookie', error);
      }
    });
  </script>

</body>
</html>