<!DOCTYPE HTML>
<!--
	Escape Velocity by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Good Grief Live</title>
		<link
		rel="icon"
		type="image/png"
		sizes="32x32"
		href="images/favicon.png?v=6"  />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<link rel="stylesheet" href="/assets/css/style.css" />
	</head>
	<body class="homepage">


		<!-- Cookie Consent Banner -->
		
        <div id="cookieBanner" style="display: none; position: fixed; top: 0; left: 0; width: 100%; background: #f0f0f0; padding: 10px; text-align: center; z-index: 1000; ">
            <p>This website uses cookies. By using this site, you agree to our use of cookies.</p>
            <button class="button style1 small" id="acceptedCookies">Accept</button>
            <button class="button style1 small" id="declineCookies">Decline</button>
            <p>Our <a href="/privacyPolicy">Privacy Policy</a></p>
        </div>
		
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header" class="wrapper">

					<!-- Logo -->
						<div id="logo">
							<h1><a href="/">Live Grief Support</a></h1>
							<p>A special place to honor our loved ones.</p>					
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li class="current"><a href="/">Home</a></li>
								<li>
									<a href="/chat">Chat Rooms</a>
									<ul>
										<li><a href="/chat">The Lobby</a></li>
										<li><a href="/login">Login</a></li>
										<li><a href="/signup">Sign Up</a></li>
									</ul>
								</li>
                                <li>
									<a href="/profile">Profile</a>
									<ul>
										<li><a href="/login">Login</a></li>
										<li><a href="/signup">Sign Up</a></li>
									</ul>
								</li>
								<li>
									<a href="/post/newPost/:id">New Post</a>
									<ul>
										<li><a href="/login">Login</a></li>
										<li><a href="/signup">Sign Up</a></li>
									</ul>
								</li>
								<li>
									<a href="/feed">Community</a>
									<ul>
										<li><a href="/login">Login</a></li>
										<li><a href="/signup">Sign Up</a></li>
									</ul>
								</li>
								<li><a href="/logout">Logout</a></li>
							</ul>
						</nav>

				</section>
         </div>
    

            


			<!-- Intro -->
				<section id="intro" class="wrapper style1">
					<div class="title">Join Our Community</div>
					<div class="container">
						<p class="style1">You don't need to be alone in your grief.</p>
						<p class="style2">
							Connect with real people <br class="mobile-hide" />who know what you are going through.
							</a>
						</p>
						<p class="style1">Share photos, poetry, thoughts, feelings and more  &ndash;  Right here where people care. </p>
                        <div>
                            <p>Our Story and Rules</p>
                            <p>After spending most of my life, at this point, without my child alive on Earth, I have put together this site that I hope can bring you great comfort in your times of need, and joy in celebrating with others successes we can share. It is my hope that you are supported when you need it most, and don't need to have a reason to stay and connect deeply with those who can offer a safe and supportive environment. Please be aware that being a member of this community is a privilege, and we expect you to follow certain rules in order to participate. Kindness is mandatory. As is maintaining respect for others as well as yourself. Violating these rules will result in you being banned from the site. If you ever feel bullied or experience abuse, we want to know about it right away. We will make every effort to keep this an emotionally safe space. May you find compassionate understanding here and enjoy sharing memories of your loved ones, challenges you face, and victories you have- as you offer yourself to those who have an understanding of your losses. May we learn to support each other. </p>

                            <p>Guests</p>
                            <p>You are welcome to participate in a limited way as a guest. We have a live chat in our lobby where you can chat with other guests and users of the site. We encourage you to sign up and become a member. You will then be able to create your own profile, share your story, and post photos, comments and likes. You can view other members profiles and get to know who you are talking to. We also have a community feed that stays updated with users posts. The three most liked posts display in The Lobby.</p>

                        </div>
                       
						<ul class="actions">
                            <p>Sounds great! Sign me up.</p>
                            <li><a href="/signup" class="button style3 large">Signup</a></li>
							<p>I'm already a member.</p>
                            <li><a href="/login" class="button style3 large">Log in</a></li>
                            <p>I'm interested, continue as a guest.</p>
                            <li><a href="/chat"  class="button style3 large">Guest</a></li>
							<!-- <li><a href="/"  class="button style3 large">Be a Guest</a></li> -->
                            <p>This is not for me.</p>
							<li><a href="/" class="button style3 large"> No, thanks </a></li>
						</ul>
					</div>
				</section>

			<!-- Main -->
				<section id="main" class="wrapper style2">
					<div class="title">The Details</div>
					<div class="container">

						<!-- Image -->
							<a href="#" class="image featured">
								<img src="images/pic01.jpg" alt="" />
							</a>

						<!-- Features -->
							<section id="features">
								<header class="style1">
									<h2>We have chat rooms centered around your loss.</h2>
									<p>Please sign up or log in to enter chat rooms.</p>
								</header>
								<div class="feature-list">
									<div class="row">
										<div class="col-6 col-12-medium">
											<section>
												<h3 class="icon solid fa-baby">I have lost a child.</h3>
												<p>Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate et magna feugiat laoreet vel velit lorem.</p>
											</section>
										</div>
										<div class="col-6 col-12-medium">
											<section>
												<h3 class="icon solid fa-users">I have lost a parent.</h3>
												<p>Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate et magna feugiat laoreet vel velit lorem.</p>
											</section>
										</div>
										<div class="col-6 col-12-medium">
											<section>
												<h3 class="icon solid fa-people-arrows">I have lost my spouse/partner.</h3>
												<p>Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate et magna feugiat laoreet vel velit lorem.</p>
											</section>
										</div>
										<div class="col-6 col-12-medium">
											<section>
												<h3 class="icon solid fa-people-carry">I have lost a sibling.</h3>
												<p>Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate et magna feugiat laoreet vel velit lorem.</p>
											</section>
										</div>
										<div class="col-6 col-12-medium">
											<section>
												<h3 class="icon solid fa-user">I have lost a loved one to suicide.</h3>
												<p>Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate et magna feugiat laoreet vel velit lorem.</p>
											</section>
										</div>
										<div class="col-6 col-12-medium">
											<section>
												<h3 class="icon solid fa-user-friends">I have lost a friend.</h3>
												<p>Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate et magna feugiat laoreet vel velit lorem.</p>
											</section>
										</div>
										<div class="col-6 col-12-medium">
											<section>
												<h3 class="icon solid fa-person-booth">I am suffering from a community tragedy.</h3>
												<p>Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate et magna feugiat laoreet vel velit lorem.</p>
											</section>
										</div>
										<div class="col-6 col-12-medium">
											<section>
												<h3 class="icon solid fa-user-injured">My grief is different.</h3>
												<p>Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate et magna feugiat laoreet vel velit lorem.</p>
											</section>
										</div>
									</div>
								</div>
								<ul class="actions special">
									<li><a href="/signup" class="button style1 large">Get Started</a></li>
									<!-- <li><a href="#" class="button style2 large">More Info</a></li> -->
								</ul>
							</section>

					</div>

                </section>
			
<!-- Footer -->
    

<section id="footer" class="wrapper">
    <div class="title">Our Sponsors</div>
    <div class="container">
        <header class="style1">
            <h2>Looking to be in touch with us?</h2>
            <p>
                We value and appreciate you.
            </p>
        </header>
        <div class="row">
            <div class="col-6 col-12-medium">

                <!-- Contact Form -->
                    <section>
                        <form method="POST" action="/feedback">
                            <div class="row gtr-50">
                                <div class="col-6 col-12-small">
                                    <input type="text" name="userName" id="contact-name" placeholder="Name" />
                                </div>
                                <div class="col-6 col-12-small">
                                    <input type="text" name="email" id="contact-email" placeholder="Email" />
                                </div>
                                <div class="col-12">
                                    <textarea type="text" name="message" id="contact-message" placeholder="Message" rows="4"></textarea>
                                </div>
                              
                                <div class="col-12">
                                    <ul class="actions">
                                        <li><input type="submit" class="style1" value="Send" /></li>
                                        <li><input type="reset" class="style2" value="Reset" /></li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </section>

            </div>
            <div class="col-6 col-12-medium">

                <!-- Contact -->
                    <section class="feature-list small">
                        <div class="row">
                            <div class="col-6 col-12-small">
                                <section>
                                    <h3 class="icon solid fa-home">Mailing Address</h3>
                                    <p>
                                        Back into Balance<br />
                                        10799 Townline Rd<br />
                                        Charlevoix, MI 49720
                                    </p>
                                </section>
                            </div>
                            <div class="col-6 col-12-small">
                                <section>
                                    <h3 class="icon solid fa-comment">Social</h3>
                                    <p>
                                        <a href="http://www.racheleckenrod.com">www.racheleckenrod.com</a><br />
                                        <a href="https://www.linkedin.com/in/rachel-eckenrod/">linkedin.com/rachel-eckenrod</a><br />
                                        <a href="https://www.facebook.com/rachel.eckenrod">facebook.com/rachel.eckenrod</a>
                                    </p>
                                </section>
                            </div>
                            <div class="col-6 col-12-small">
                                <section>
                                    <h3 class="icon solid fa-envelope">Email</h3>
                                    <p>
                                        <a href="mailto:goodgrieflive@gmail.com">goodgrieflive@gmail.com</a>
                                    </p>
                                </section>
                            </div>
                            <div class="col-6 col-12-small">
                                <section>
                                    <h3 class="icon solid fa-phone">Phone</h3>
                                    <p>
                                        (000) 555-0000
                                    </p>
                                </section>
                            </div>
                        </div>
                    </section>

            </div>
        </div>
        <div id="copyright">
            <ul>
                <li>&copy; Untitled.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li><li><a href="/privacyPolicy">Privacy Policy</a></li>
            </ul>
        </div>
    </div>
</section>




<!-- Scripts -->
<script src="/socket.io/socket.io.js"></script>
<script type="module" src="/js/shared.js"></script>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.dropotron.min.js"></script>
<script src="/assets/js/browser.min.js"></script>
<script src="/assets/js/breakpoints.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>
<!-- <script>
    // Add an event listener to the button or link
    document.getElementById('consent').addEventListener('click', async () => {
      // Use fetch or any other method to send a request to the server to set the cookie
      const response = await fetch('/setCookie', { method: 'GET' });
  
      // Redirect to the home page after setting the cookie
      window.location.href = '/';
    });
  </script> -->
<!-- 
  <script>
    document.getElementById('consent').addEventListener('click', async () => {
      try {
        const response = await fetch('/consent/setCookie', { method: 'GET' });
  
        if (response.ok) {
          console.log('Consent cookie set successfully');
          // Redirect to the home page or perform other actions as needed
          window.location.href = '/signup';
        } else {
          console.error('Failed to set consent cookie');
        }
      } catch (error) {
        console.error('Error setting consent cookie', error);
      }
    });
    document.getElementById('consent2').addEventListener('click', async () => {
      try {
        const response = await fetch('/consent/setCookie', { method: 'GET' });
  
        if (response.ok) {
          console.log('Consent cookie set successfully');
          // Redirect to the home page or perform other actions as needed
          window.location.href = '/chat';
        } else {
          console.error('Failed to set consent cookie');
        }
      } catch (error) {
        console.error('Error setting consent cookie', error);
      }
    });
  </script> -->

  <script>
  // cookieBanner.js
    document.addEventListener('DOMContentLoaded', () => {
    const cookieBanner = document.getElementById('cookieBanner');
    const acceptCookiesBtn = document.getElementById('acceptedCookies');
    const declineCookiesBtn = document.getElementById('declineCookies');

    const userAcceptedCookies = document.cookie.includes('consentCookie=true');

    if (!userAcceptedCookies) {
        cookieBanner.style.display = 'block';
    }

    acceptCookiesBtn.addEventListener('click', () => {
        document.cookie = 'consentCookie=true; max-age=' + (365 * 24 * 60 * 60);
        cookieBanner.style.display = 'none';
		window.location.reload();
    });

    declineCookiesBtn.addEventListener('click', () => {
        alert('By declining, you may not have access to the site.');
        // Additional logic if needed
    });
});

  </script>

</body>
</html>